div.annime {
	-moz-animation-duration: 12s;
	-webkit-animation-duration: 12s;
	-moz-animation-name: annime;
	-webkit-animation-name: annime;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	animation-delay:1s;
	width: 100px;
	height: 150px;
	position: relative;
}

@keyframes annime{
0%{top: 0px; left:0px;transform: rotate(0deg);}
10%{top: 10em; left:5em;transform:rotate(90deg);}
20%{top: 10em; left:5em;transform: rotate(-90deg);}
30%{top:12em;left:10em;transform: rotate(80deg);}
40%{top:15em;left:5em;transform: rotate(8deg);}
50%{top: 10em; left:20em;transform: rotate(90deg);}
60%{top: 10em; left:5em;transform:rotate(0deg);}
70%{top: 15em; left:5em;transform: rotate(-90deg);}
80%{top:5em;left:10em;transform: rotate(80deg);}
90%{top:15em;left:5em;transform: rotate(0deg);}
100%{top:0px;left:0px;transform: rotate(0deg);}
}

.annime img {
	position: absolute;
	left: 350px;
	top: 100px;
	width: 700px;
}
}



