.index {
	background-color: green;
	background-repeat: no-repeat;
}



.indexP {
	position: absolute;
	left: 510px;
	top: 50px;
	
}

.Indexlogo img {
	position: absolute;
	left: 640px;
	top: 585px;
	width: 100px;
}

.IndexLangue {
	position: absolute;
	left: 750px;
	top: 580px;
	width: 100px;
}

.txtAcceuil {
	float: left;
	margin-left: 250px;
	margin-top: 170px;
	width: 1200px;
	clear: left;
	text-align: justify;
}

.txtAcceuil h1 {
	text-align: center;
}

.ImgAccueil {
	float: left;
	margin-left: 250px;
	margin-top: 50px;
	clear: left;
}

.ImgAccueil img {
	width: 1200px;
}

.English h1 {
	margin-left: 150px;
}

.Esp h1 {
	margin-left: 55px;
}

.English img {
	margin-left: 475px;
}

.Esp img {
	margin-left: 475px;
}

.menu {
	position: fixed;
	top: 134px;
	left: 0px;
	width: 162px;
	height: 10000px;
}

ul.menu {
	list-style-type: none;
	padding: 5px;
	color: white;
	background-color: green;
}

p {
	text-align: justify;
}

li.menu {
	display: block;
	width: 150px;
	text-align: center;
}

a.menu:active {
	background-color: yellow;
	cursor: crosshair;
}

li:hover ul.menu, li ul.menu  li:hover ul.menu2 {
	display: block;
	float: none;
}

ul ul {
	display: none;
}

li:hover ul.niveau2, li ul.niveau2 li:hover ul.niveau3 {
	display: block;
	list-style-type: none;
}

li:hover {
	background-color: red;
}

li:hover ul.niveau2 {
	display: block
}

table thead {
	text-align: center;
}

table {
	background-color: green;
	color: white;
	text-align: left;
	width: 500px;
	margin-left: 25px;
}

.map {
	float: left;
	margin-left: 200px;
	margin-top: 200px;
}

.hotelCol1 {
	float: left;
	margin-left: 200px;
	margin-top: 200px;
}

.hotelCol2 {
	width: 370px;
	margin-left: 40px;
	float: left;
	margin-top: 200px;
	text-align: justify;
	height: 300px;
}

.HotelImg img {
	float: left;
	clear: left;
	margin-left: 200px;
	top: 50px;
	width: 1000px;
	height: 700px;
}

.stadeimg {
	margin-top: 30px;
	margin-left: 220px;
	float: left;
	clear: left;
}

.divtableau {
	float: left;
	margin-left: 250px;
	margin-top: 270px;
	width: 425px;
}

.divtexte {
	float: left;
	text-align: justify;
	margin-left: 40px;
	margin-top: 200px;
	width: 300px;
}

.t6 {
	background-color: #008000;
	position: fixed;
	width: 106px;
	height: 150px;
	left: 0px;
	top: 0px;
}

.t7 {
	background-color: #008000;
	position: absolute;
	width: 5000px;
	height: 125px;
	float: left;
	left: 160px;
	top: 0px;
	padding-left: 175px;
	padding-top: 25px;
}

footer {
	float: left;
	background-color: gray;
	height: 70px;
	width: 5000px;
	margin-left: 160px;
	margin-top: 30px;
	padding: 15px;
	clear: left;
	padding-left: 250px;
}

.ContactAdd {
	float: left;
	margin-left: 600px;
	margin-top: 200px;
}

.ContactImg {
	float: left;
	margin-left: 600px;
	margin-top: 50px;
	clear: left;
	height: 300px;
}

address {
	text-align: center;
}

.niveau1 {
	list-style-type: none;
	list-style-position: left;
}

label {
	display: block;
	width: 110px;
	float: left;
}

.formulaire {
	float: left;
	margin-left: 200px;
	margin-top: 200px;
	height: 430px;
}